<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/front">Verifit</a>
    <div class="float-right">
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/adminpanel' *ngIf="userDetails">Admin</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/home' *ngIf="userDetails">Home</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/bronzepanel' *ngIf="userDetails">Phone</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" (click)="service.onLogout()" *ngIf="userDetails">Logout</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" (click)="service.onLogin()" *ngIf="!userDetails">Login</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" (click)="service.onRegister()" *ngIf="!userDetails">Register</button>
    </div>
</nav>
<div class="row mt-5">
    <div class="mx-auto my-5 col-10">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Open your "Phone" in the top right of the window to begin texting!</p>
            <hr class="my-4">
            <p>Currently you can request random Canadian and US numbers. Premium users can select specific numbers.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Upgrade!</a>
            </p>
        </div>
    </div>
</div>