<app-navbar></app-navbar>
<div class="row mt-6">
    <div class="mx-auto my-5 col-10">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Open your "Phone" in the top right of the window to begin texting!</p>
            <hr class="my-4">
            <p>Currently you can request random Canadian and US numbers. Premium users can select specific numbers.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Upgrade!</a>
            </p>
        </div>
    </div>
</div>