<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Verifit</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    <button class="btn btn-danger my-2 my-sm-0" routerLink='/home'>Home</button>
    <button class="btn btn-danger my-2 my-sm-0" routerLink='/bronzepanel'>Bronze</button>
</nav>

<div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>
                Role : 
            </strong>
            {{userDetails.role}}
        </li>
        <li class="list-group-item">
            <strong>
                Username : 
            </strong>
            {{userDetails.userName}}
        </li>
        <li class="list-group-item">
            <strong>
                Full Name : 
            </strong>
            {{userDetails.fullName}}
        </li>
        <li class="list-group-item">
            <strong>
                Email : 
            </strong>
            {{userDetails.email}}
        </li>
    </ul>
</div>

<button class="btn btn-primary" (click)="requestUSNumber()">Get a US number!</button>

<button class="btn btn-danger" (click)="requestCANumber()">Get a CA number!</button>

<hr>
<h2>US Numbers</h2>

<div class="card" style="width: 18rem;">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <a href="#" class="card-link">Card link</a>
     <a href="#" class="card-link">Another link</a>
   </div>
</div>
