<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Verifit</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    <button class="btn btn-danger my-2 my-sm-0" routerLink='/home'>Home</button>
    <button class="btn btn-danger my-2 my-sm-0" routerLink='/bronzepanel'>Bronze</button>
</nav>

<div class="dropdown offset-2">
   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{selectedNumber}}
   </button>
   <div id="phone-number-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <div class="dropdown-item" href="#" *ngFor="let phone of service.userPhoneNumbers" (click)="callFn(phone.PhoneNumber)">{{phone.Country}} - {{phone.PhoneNumber}}</div>
   </div>
</div>

<div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>
                Role : 
            </strong>
            {{userDetails.role}}
        </li>
        <li class="list-group-item">
            <strong>
                Username : 
            </strong>
            {{userDetails.UserName}}
        </li>
        <li class="list-group-item">
            <strong>
                Full Name : 
            </strong>
            {{userDetails.FullName}}
        </li>
        <li class="list-group-item">
            <strong>
                Email : 
            </strong>
            {{userDetails.Email}}
        </li>
    </ul>
</div>

<button class="btn btn-primary" (click)="requestUSNumber()">Get a US number!</button>

<button class="btn btn-danger" (click)="requestCANumber()">Get a CA number!</button>

<button class="btn btn-success" (click)="newConversation()">New Conversation!</button>


<style>
    /* Chat containers */
    .container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }
    
    /* Darker chat container */
    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }
    
    /* Clear floats */
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Style images */
    .container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    /* Style the right image */
    .container img.right {
      float: right;
      margin-left: 20px;
      margin-right:0;
    }
    
    /* Style time text */
    .time-right {
      float: right;
      color: #aaa;
    }
    
    /* Style time text */
    .time-left {
      float: left;
      color: #999;
    }
    </style>

<div class="container" *ngFor="let conversation of service.conversations"  (click)="clickConversation(conversation)">
  <img src="/w3images/bandmember.jpg" alt="Avatar">
  <span>{{conversation.ToPhoneNumber}}</span>
  <p>{{conversation.LastMessage}}</p>
  <span class="time-right">{{conversation.LastMessageTime}}</span>
</div>
