<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/front">MultiPhone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- 
            <li class="nav-item">
                <a class="btn btn-danger my-2 mx-3 my-sm-2" routerLink='/adminpanel' *ngIf="service.userDetails">Admin</a>
            </li>
            -->
            <li class="nav-item center-button">
                <a class="btn btn-primary my-2 mx-3 my-sm-2" routerLink='/home' *ngIf="service.userDetails">Home</a>
            </li>
            <li class="nav-item center-button">
                <a class="btn btn-primary my-2 mx-3 my-sm-2" routerLink='/bronzepanel' *ngIf="service.userDetails">Phone</a>
            </li>
            <li class="nav-item center-button">
                <a class="btn btn-danger my-2 mx-3 my-sm-2" routerLink='/contact-manager' *ngIf="service.userDetails">Contact Manager</a>
            </li>
            <li class="nav-item center-button">
                <a class="btn btn-danger my-2 mx-3 my-sm-2" routerLink='/phone-manager' *ngIf="service.userDetails">Phone Manager</a>
            </li>
            <li class="nav-item center-button">
                <a class="btn btn-danger my-2 mx-3 my-sm-2" routerLink='/account-manager' *ngIf="service.userDetails">Account Manager</a>
            </li>
        </ul>
        <div class="center-button">
            <a class="btn btn-danger my-2 mx-3 my-sm-2 center-button" (click)="service.onLogout()" *ngIf="service.userDetails">Logout</a>
            <a class="btn btn-success my-2 mx-3 my-sm-2 center-button" (click)="service.onLogin()" *ngIf="!service.userDetails">Login</a>
            <a class="btn btn-success my-2 mx-3 my-sm-2 center-button" (click)="service.onRegister()" *ngIf="!service.userDetails">Register</a>
        </div>
        
    </div>
</nav>