<app-navbar></app-navbar>
<div class="row mt-6">
    <div class="col-xl-3 col-sm-10">
        <div class="card m-5" *ngIf="userDetails">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>
                        Role : 
                    </strong>
                    {{userDetails.role}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Username : 
                    </strong>
                    {{userDetails.userName}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Full Name : 
                    </strong>
                    {{userDetails.fullName}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Email : 
                    </strong>
                    {{userDetails.email}}
                </li>
            </ul>
        </div>
    </div>

    <div class="m-5 col-xl-8 col-sm-10">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Open your "Phone" in the top right of the window to begin texting!</p>
            <hr class="my-4">
            <p>Currently you can request random Canadian and US numbers. Premium users can select specific numbers.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Upgrade!</a>
            </p>
        </div>
    </div>

</div>