<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/front">Verifit</a>
    <div class="float-right">
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/adminpanel'>Admin</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/home'>Home</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" routerLink='/bronzepanel'>Phone</button>
        <button class="btn btn-danger my-2 mx-3 my-sm-0" (click)="onLogout()">Logout</button>
    </div>
</nav>
<div class="row mt-5">
    <div class="col-3">
        <div class="card m-5" *ngIf="userDetails">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>
                        Role : 
                    </strong>
                    {{userDetails.role}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Username : 
                    </strong>
                    {{userDetails.UserName}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Full Name : 
                    </strong>
                    {{userDetails.FullName}}
                </li>
                <li class="list-group-item">
                    <strong>
                        Email : 
                    </strong>
                    {{userDetails.Email}}
                </li>
            </ul>
        </div>
    </div>

    <div class="m-5 col-8">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Open your "Phone" in the top right of the window to begin texting!</p>
            <hr class="my-4">
            <p>Currently you can request random Canadian and US numbers. Premium users can select specific numbers.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Upgrade!</a>
            </p>
        </div>
    </div>

</div>